################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortalEventus/.vs
/PortalEventus/packages
/PortalEventus/PortalEventus/bin
/PortalEventus/PortalEventus/obj/Debug
