body, html {
    min-height: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/bkeventus.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-control::-webkit-input-placeholder { color: #a3a3a3; font-style: italic; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a3a3a3; font-style: italic; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a3a3a3; font-style: italic; } /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a3a3a3; font-style: italic; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a3a3a3; font-style: italic; }  /* Microsoft Edge */
/*-- Start of the Header --*/
header {
    
}
header div.container-fluid {
    background-color: rgba(62, 61, 64, 0.6);
}
/*-- End of the Header --*/

/*-- Start of the Web Main Content --*/
    #bodycontainer {
        margin-bottom: 0px;
        margin-top: 100px;
    }
    #bodycontainer div.idxbox {
        background-color: rgba(62, 61, 64, 0.5);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-height: 420px;
        text-align: center;
    }
    #bodycontainer div.idxbox h1 {
        color: #00ACED;
        font-size: 5rem;
        font-weight: normal;
        padding-bottom: 25px;
        padding-top: 75px;
    }
    #bodycontainer div.idxbox h3 {
        font-size: 2.5rem;
        font-weight: lighter;
        padding-bottom: 25px;
    }
    #bodycontainer input.form-control {
        width: 100%;
    }


/*-- End of the Web Main Content --*/

/*-- Begin of the Footer --*/
footer {
    font-size: 0.8125rem;
    margin-bottom: 0;
    padding-top: 5px;
}
footer div.container-fluid {
    padding-top: 10px;
}
footer img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    width: 130px;
}
footer i.fa {
    font-size: 1.5rem;
    line-height: 38px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
footer i.fa.fa-facebook-square{
    color: #3B5998;
}
footer i.fa.fa-twitter{
    color: #00aced;
}
footer i.fa.fa-google-plus-circle{
    color: #DC4E41;
}
footer i.fa.fa-youtube-play{
    color: #FF0101;
}
/*-- End of the Footer --*/

/*-- Begin CSS @media --*/

/*-- End CSS @media --*/
